/*font-family: 'Raleway', sans-serif;
font-family: 'Englebert', sans-serif;*/

html {
  font-family: Raleway,sans-serif;
  font-weight: 400;
}

/*------------------------------------navigation----------------------------------------*/

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: 2px solid #00b9b7;
  outline-offset: 0;
  border-radius: 15px;
}

a,
.btn-nav {
  text-decoration: none;
}

.btn-nav:hover {
  border-radius: 15px;
  background-color: #fd6831;
}


.nav {
  background-color: #00b9b7;
}

.nav-list a {
  display: block;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

nav [type="checkbox"] + label::before {
  position: absolute;
  top: -6em;
}

.nav-label {
  cursor: pointer;
  width: 40px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: inline-block;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 4;
}

.nav {
  position: absolute;
  width: 100%;
  right: 0;
  top: 100%;
}

.icon-logo {
  width: 130px;
  height: 43px;
}

@media only screen and (min-width: 60em) {

  nav [type="checkbox"] + label {
    display: none;
  }

  .nav {
    display: block;
    width: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav-bar {
    width: 95%;
    margin: auto;
  }

  .nav {
    background-color: inherit;
  }

  .btn-nav:hover {
    color: #00b9b7;
    background-color: inherit;
  }

  .sign {
    border: solid 2px #fd6831;
    border-radius: 15px;
  }

  .sign:hover {
    color: #fff;
    background-color: #fd6831;
  }

  .icon-logo {
    width: 170px;
    height: 55px;
  }
}

@media only screen and (min-width: 90em) {

  .nav-bar {
    width: 90%;
    top: .5rem;
  }

}

/*------------------------------------banner----------------------------------------*/


.btn-get-str {
  color: #fff;
  background-color: #fd6831;
  border: solid 2px #fd6831;
  border-radius: 15px;
  padding: .65rem 1.3rem;
  text-transform: uppercase;
  display: inline-block;
  width: 10rem;
}

.btn-get-str:hover {
  background-color: #ef5a23;
  border-color: #ef5a23;
}

.script {
  font-family: Englebert, sans-serif;
}

.banner-caption,
.banner-caption-sub {
  width: 90%;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  color: #fff;
}

.banner,
.banner-wider {
  overflow: hidden;
  height: 640px;
  width: 100%;
}

.banner img,
.banner-wider img {
  width: 1366px;
  height: 820px;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.banner-section {
  top: 0;
  right: 0;
  width: 100%;
}

.blue {
  color: #00b9b7;
}

.orange {
  color: #fd6831;
}

@media only screen and (min-width: 28em) {

  .banner-caption {
    max-width: 25em;
  }

}

@media only screen and (min-width: 49em) {

  .banner-caption,
  .banner-caption-sub {
    max-width: 45em;
  }

  .value {
    margin-bottom: .7rem;
  }

}

@media only screen and (min-width: 69.5em) {

.banner img {
  left: 50%;
  top: 50%;
  height: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  }
}


/*.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
  --------

}*/

/*------------------------------------sign-in page----------------------------------------*/

.banner-form {
  z-index: 3;
  position: absolute;
  width: 100%;
  top: 55%;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: #fff;
  border-bottom: solid 3px #00b9b7;
  max-width: 22em;
}

.form-header-box {
  background-color: #00b9b7;
  color: #fff;

}

input,
textarea {
  display: block;
  width: 100%;

  background-color: #fff;
  border: 2px solid #00b9b7;;
  border-radius: 5px;
  height: 35px;
}

input[type="checkbox"] + label::before {
  border: 2px solid #00b9b7;
  height: 17px;
  width: 17px;
}

.form div {
  color: #9a9a9a;
}

@media only screen and (min-width: 21.8em) {

  .banner-form {
    border-radius: 15px;
  }

  .form-header-box {
    border-radius: 15px 15px 0 0;
  }

}

@media only screen and (min-width: 38em) {

  .form div {
    max-width: 17em;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (min-width: 66.6em) {

.banner-wider img {
  width: 1366px;
  height: 820px;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  }
}

/*------------------------------------intro section on the homepage----------------------------------------*/

main {
  color: #95989a;
}

@media only screen and (min-width: 38em) {

  .intro-length {
    margin-left: auto;
    margin-right: auto;
    width: 32em;
  }

}

@media only screen and (min-width: 60em) {

  .intro-length {
    width: 50%;
  }

}

@media only screen and (min-width: 65em) {

  .intro {
    width: 55em;
    margin-left: auto;
    margin-right: auto;
  }

}


/*------------------------------------quote section on the homepage----------------------------------------*/

.quote {
  overflow: hidden;
  position: relative;
}

.quote-content {
  position: relative;
  max-width: 32em;
}

.quote-mark {
  font-size: 15rem;
  position: absolute;
}

.quote-mark-t {
  top: 4rem;
  left: 100%;
  transform: translateX(-125%);
}


.quote-mark-b {
  bottom: -7rem;
  right: 1rem;
}


.quote-img {
  overflow: hidden;
  height: 500px;
  width: 100%;
}

.quote-img img {
  width: 1366px;
  height: 517px;
  left: 80%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.quote-box {
  color: #fff;
  background-color: #fd6831;
}

.quote-content {
  float: right;
}

.push-3 {
  margin-bottom: 3.9rem;
}


@media only screen and (min-width: 52em) {

  .quote-img img {
    width: 1366px;
    height: 517px;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }

  .quote-box {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 33.333%;
    height: 100%;
  }

  .wrapper-quote {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  .quote-mark-t {
    top: 7.5rem;
    left: 0rem;
  }

}

@media only screen and (min-width: 60em) {

  .quote-content {
    margin-right: .65rem;
  }

}

@media only screen and (min-width: 83em) {

  .quote-img img {
    width: 1366px;
    height: 517px;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
}

/*------------------------------------data section on the homepage----------------------------------------*/

.icon-data,
.icon-feature {
  height: 170px;
  width: 178px;
}

.data-card,
.feature-card {
  max-width: 22em;
  margin-left: auto;
  margin-right: auto;
}

.data-card img,
.feature-card img {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 38em) {

  .data,
  .features,
  .price {
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
  }

  .data-card,
  .feature-card {
    max-width: 100%;
  }

  .data-card img {
    margin-left: 0;
  }

}

@media only screen and (min-width: 60em) {

  .data,
  .features,
  .price {
    max-width: 100%;
  }

  .data-card,
  .feature-card {
    max-width: 32em;
    padding: 0 .7rem;
  }

  .data-card img,
  .feature-card img {
    margin-left: auto;
    margin-right: auto;
  }

  .icon-data-94 {
    height: 261px;
    width: 273px;
  }

}

@media only screen and (min-width: 65em) {

  .data,
  .features,
  .price {
    width: 55em;
    margin-left: auto;
    margin-right: auto;
  }

}

/*------------------------------------card section on the homepage----------------------------------------*/
.question-section {
  position: relative;
}

.question-banner {
  overflow: hidden;
  width: 100%;
}

.question-banner img {
  height: 919px;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.card-wrapper {
  background-color: #fd6831;
  max-width: 55em;
  margin-left: auto;
  margin-right: auto;

}

.card,
.card-price {
  background-color: #fff;
  border-radius: 15px;
  width: 18em;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #fd6831;
}

.question-caption {
  width: 15em;
  top: 35%;
  color: #fff;
  font-weight: 500;
  left: 0;
}

.icon-card {
  width: 185px;
  height: 135px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 25em) {

  .question-caption {
    left: 5%;
    top: 50%;
  }

}

@media only screen and (min-width: 32em) {

  .question-caption {
    width: 17em;
  }

}

@media only screen and (min-width: 38em) {

  .card-wrapper li:last-child {
    display: none;
  }

}

@media only screen and (min-width: 45em) {

  .card-wrapper {
    max-width: 39em;
  }

  .question-section {
    background-color: #fd6831;
  }


}

@media only screen and (min-width: 60em) {

  .question-section {
    background-color: inherit;
  }

  .card-wrapper li:last-child {
    display: flex;
  }

  .card-wrapper {
    background-color: inherit;
    position: absolute;
    top: 55%;
    left: 50%;
    width: 100%;
    max-width: 100%;;
    transform: translateX(-50%);
  }

  .question-caption {
    top: 25%;
    width: 20em;
  }

}

@media only screen and (min-width: 65em) {

  .card-wrapper,
  .price-wrapper {
    width: 55em;
    max-width: 55em;
  }

}

/*------------------------------------footer on the homepage----------------------------------------*/

footer {
  background-color: #fd6831;
  color: #fff;
}

.icon-social {
  height: 35px;
  width: 35px;
}

.designer {
  text-transform: uppercase;
}

@media only screen and (min-width: 38em) {

  .rights p {
    display: inline-block;
  }

}

@media only screen and (min-width: 60em) {

  .icon-social {
    height: 50px;
    width: 50px;
  }

  .footer {
    padding-top: 8rem;
  }

}

@media only screen and (min-width: 69em) {

  .footer {
    padding-top: 5.7rem;
  }

}

@media only screen and (min-width: 78em) {

  .footer {
    padding-top: 3.4rem;
  }

}

@media only screen and (min-width: 87em) {

  .footer {
    padding-top: 1.1rem;
  }

}

/*------------------------------------product page: header-banner----------------------------------------*/

@media only screen and (min-width: 26em) {

  .banner-caption-sub {
    max-width: 22em;
  }

}

@media only screen and (min-width: 49em) {

  .banner-caption-sub {
    max-width: 42em;
  }

}

@media only screen and (min-width: 60em) {

  .nav-list .current {
    color: #00b9b7;
  }

}

/*------------------------------------pricing page: price-cards section----------------------------------------*/

.price-header-box {
  color: #fff;
  background-color: #00b9b7;
  border-radius: 11px 11px 0 0;
}

.card-price {
  border: 3px solid #00b9b7;
}

@media only screen and (min-width: 60em) {

  .card-price {
    width: 15em;
  }

  .price-wrapper {
    width: 100%;
  }
}

/*------------------------------------pricing page: compare prices link section----------------------------------------*/

.compare-section {
  background-color: #00b9b7;
  width: 100%;
  color: #fff;
}

a:hover .compare-section{
  background-color: #663695;
}
